<%= link_to("<<Back to index", {:action => 'index', :subject_id => @subject.id}, :class => 'back_link') %>

<div class="edit">
	<span class="h1">Update Page</span>

	<%= form_for(:page, :url => {:action => 'update', :id => @page.id, :subject_id => @subject.id}) do |f| %>
	
		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Update page") %>
		</div>

	<% end %>
</div>
