<%= link_to("<<Back to index", {:action => 'index'}, :class => 'back_link') %>

<div class="edit">
	<span class="h1">Update Subject</span>

	<%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Update subject") %>
		</div>

	<% end %>
</div>
