<% @page_title = "Create Admin User" %>

<%= link_to("<<Back to menu", {:action => 'index'}, :class => 'back_link') %>
<div class="new" >
<span class="h1">Create Admin User</span>

<%= form_for(:admin_user, :url => { :action => 'create' }) do |f| %>
	<%= render(:partial => 'form', :locals => { :f => f }) %>
	<div class="form-buttons">
	<%= submit_tag("Create new user") %>
	</div>
<% end %>
</div>
